<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="utf-8">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../css/login.css">    
    </head>

    <body>
      
      <div id="header" class="z-depth-1">JWP-Trello</div>

      <div class="login_form_wrapper">
          <div class="login_title">Login To JWP-Trello</div>
          <div class="login_with_github z-depth-1 blue-grey lighten-5"> Login With Github </div>
          <div class="option_boundary">
                <div class="underline"></div><span>or</span>
                <div class="underline"></div>
          </div>
		<form th:action="@{/users/login}" method="post">
			<div class="row">
				<div class="input-field col s12">
					<input id="username" type="text" name="username" class="validate"> 
					<label for="username">User Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" name="password" class="validate"> 
					<label for="password">Password</label>
				</div>
			</div>
			<div class="btn_area">
				<input class="login_btn z-depth-1 blue-grey lighten-5" type="submit" value="Login"/>
				<input class="signUp_btn z-depth-1 blue-grey lighten-5" type="button" value="SignUp"/>
			</div>
		</form>

	</div>

      <script type="text/javascript" src="../lib/jquery-2.2.0.min.js"></script>
      <script src="../lib/handlebars-v4.0.5.js"></script>
      <script type="text/javascript" src="../lib/materialize.min.js"></script>
      <script type="text/javascript" src="../js/login.js"></script>
    </body>
  </html>